body{
	/*background:url('../images/invoice/background.png') #e5e5e5;*/
	/*background-repeat: repeat;*/
	color: #333;
	font: 14px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



.logo-invoice{
	float: right;
}
.pdf-logo{
	position: absolute;
	right: 20px;
	top: 20px;
}
#page {
	background: #ffffff;
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	display: block;
	border: 1px solid #c4c7c7;
	padding: 40px 40px 50px 40px;
	position: relative;
	z-index: 0;
}


.page-shadow {
	background-image: url(../images/invoice/page-shadow.png);
	width: 992px;
	height: 60px;
	margin: 0 auto;
	margin-top: -1px;
	z-index: 1;
	position: relative;
}

h1 {
	color: #4d5357;
	font-weight: lighter;
	font-size: 56px;
	margin: 40px 0 0 0;
}

.terms {
	float: left;
	width: 400px;
	margin: 0 0 40px 0;
	font-size: 12px;
	color: #a1a7ac;
	line-height: 180%;
}

.terms strong {
	font-size: 16px;
}

.recipient-address {
	padding-top: 65px;
	width: 200px;
}

/*.company-logo {
	
	position: absolute;
	right: 40px;
	top: 40px;
}*/

.company-address {
	width: 200px;
	color: #333;
	position: absolute;
	right: 40px;
	top: 130px;
	text-align: right;
}

.status {
	position: absolute;
	top: -5px;
	left: -5px;
	text-indent: -5000px;
	width: 128px;
	height: 128px;
}

.draft {
	background-image: url(../images/invoice/status-draft.png);
}

.sent {
	background-image: url(../images/invoice/status-sent.png);
}

.paid {
	background-image: url(../images/invoice/status-paid.png);
}

.overdue {
	background-image: url(../images/invoice/status-overdue.png);
}

.cancelled {
	background-image: url(../images/invoice/inv-cancelled.png);
}

.unpaid {
	background-image: url(../images/invoice/inv-unpaid.png);
}
.partiallypaid {
	background-image: url(../images/invoice/inv-partially-paid.png);
}

hr {
	clear: both;
	border: none;
	background: none;
	border-bottom: 1px solid #d6dde2;
}

.pay-buttons {
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}
.pay-paypal {
	display: block;
	width: 200px;
	height: 45px;
	background:  url('../images/invoice/pay-buttons.png') no-repeat;
	text-indent: -5000px;
	background-position: 0 0;
	float: left;
}

.pay-paypal:hover {
	background-position: 0 -45px;
}

.pay-paypal:active {
	background-position: 0 -90px;
}

.pay-card {
	display: block;
	float: left;
	width: 165px;
	height: 45px;
	background:  url('../images/invoice/pay-buttons.png') no-repeat;
	text-indent: -5000px;
	background-position: -200px 0;
}

.pay-card:hover {
	background-position: -200px -45px;
}

.pay-card:active {
	background-position: -200px -90px;
}

.total-due {
	width: 200px;
	border: 1px solid #d6dde2;
	margin: 0 0 40px 0;
	padding: 0;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	text-align: right;
}

.total-heading {
	background: #e7ebee;
	height: 39px;
	color: #63676b;
	text-shadow: 0 1px 1px #ffffff;
	padding: 8px 20px 0 0;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid #d6dde2;
	font-weight: bold;
}

.total-heading p, .total-amount p {
	margin: 0; padding: 0;
}

.total-amount {
	padding: 15px 20px 15px 0;
	color: #4d5357;
	font-size: 32px;
}
