section#frame a.note {
    -transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
    display: block;
}

section#frame a:hover.note {
    border: 1px solid rgba(0,0,0,.75);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.note {
    font-family: 'Aref Ruqaa', serif;
    font-weight: 300;
    width: 230px;
    height:230px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    float: left;
    margin: 8px;
    border: 1px solid rgba(0,0,0,.25);
}

.sticky0 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: #F44336;
}

.sticky1 {
    transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -moz-transform: rotate(-3.5deg);
    background-color: #E91E63;
}

.sticky2 {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    background-color: #9C27B0;
}

.sticky3 {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    background-color: #673AB7;
}

.sticky4 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    background-color: #3F51B5;
}

.sticky5 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    background-color: #2196F3;
}
.sticky6 {
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    background-color: #009688;
}

.edit-delete a {
    width: 74px;
    float: left;
    text-align: center;
    vertical-align: middle;
}
.edit-delete {
    position: absolute;
    right: 10px;
}
.pin {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.55);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.55);
    box-shadow: 0 3px 6px rgba(0,0,0,.55);
    margin: 0 auto;
    margin-top: 2px;
}

section#frame a:nth-child(1n) .pin {
    background-image: -moz-radial-gradient(35px 35px 35deg, circle cover, red 50%, black 100%);
    background-image: -webkit-radial-gradient(35px 35px, circle cover, red, black);
    background-image: radial-gradient(red 50%, black 100%);

}

section#frame a:nth-child(6n) .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, orange 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(orange 50%, black 100%);
}

section#frame a:nth-child(3n) .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
    background-image: radial-gradient(yellow 50%, black 100%);
}

section#frame a:nth-child(5n+3) .pin,
section#frame a:last-child .pin {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, blue 50%, white 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, blue, white);
    background-image: radial-gradient(blue 50%, white 100%);
}

.text {
    margin: 10px;
    font-size: 19px !important;
    color: #ffffff;
}