
#stickyContainer {
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
}

#sticky {
    position: absolute;
    left: 60px;
    top: 85px;
    width: 212px;
    min-width: 212px;
    min-height: 100px;
    background: #e7befe;
    margin: 2px;
    padding: 10px;
    text-align: left;
    font-size: 11pt;
    cursor: pointer;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    /* box-shadow: 1px 1px 2px rgba(0,0,0,0.7); */
    z-index: 1;
}