/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/************************************************* Body Setup ********************************************/
@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}
/************************************************* Body Setup ********************************************/


/********************************************* Main Menu *************************************************/
.dropdown-content li > a, .dropdown-content li > span{
    color: #2196f3;
}

nav ul a:hover{
    background: #2196f3;
    color: #ffffff;
}
/********************************************* Main Menu ---- End *************************************************/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 220px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}

li.account.avatar.dropdown-button.rht{
    padding: 0;
    margin: 0;
    line-height: 1.2;
}
li.account.avatar.dropdown-button.rht small {
    font-size: 14px;
    padding-left: 4px;
}
li.account .account-image {
    padding-top: 3px;
    text-align: center;
}

.btn.tiny {
    padding: 0px 7px;
}

.btn.medium {
    padding: 0px 9px;
}


/********************************************** Font Family ****************************************/
@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans/museosans_300-webfont.eot');
    src: url('../fonts/museosans/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosans_300-webfont.woff') format('woff'),
    url('../fonts/museosans/museosans_300-webfont.ttf') format('truetype'),
    url('../fonts/museosans/museosans_300-webfont.svg#MuseoSans300Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans/museosans_300_italic-webfont.eot');
    src: url('../fonts/museosans/museosans_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosans_300_italic-webfont.woff') format('woff'),
    url('../fonts/museosans/museosans_300_italic-webfont.ttf') format('truetype'),
    url('../fonts/museosans/museosans_300_italic-webfont.svg#MuseoSans100Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans_Thin';
    src: url('../fonts/museosans/museosans_100-webfont.eot');
    src: url('../fonts/museosans/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosans_100-webfont.woff') format('woff'),
    url('../fonts/museosans/museosans_100-webfont.ttf') format('truetype'),
    url('../fonts/museosans/museosans_100-webfont.svg#MuseoSans100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans_Fat';
    src: url('../fonts/museosans/museosans_700-webfont.eot');
    src: url('../fonts/museosans/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans/museosans_700-webfont.woff') format('woff'),
    url('../fonts/museosans/museosans_700-webfont.ttf') format('truetype'),
    url('../fonts/museosans/museosans_700-webfont.svg#MuseoSans700Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/********************************************** Font Family ****************************************/

nav ul li a, nav ul li .fa {
    font-size: 14px;
}
nav ul li a{
    font-family: MuseoSans_Thin;
    font-weight: 300;
}

/******************************************** Logo ********************************/
.login-form a#logo-container {
    font-size: 28px;
}
a.brand-logo{
    font-family: MuseoSans;
}
/******************************************** Logo - End ********************************/

.cyan {
    background-color: #00bcd4 !important;
}

body.light-blue{
    display: table-cell;
    vertical-align: middle;
    display: table;
    margin: auto;
    margin-top: 32px;
}

.login-form {
    width: 360px;
}

/****************************************************** Data Table **********************************************/
div.material-table {
    padding: 0;
}

div.material-table .hiddensearch {
    padding: 0 14px 0 24px;
    border-bottom: solid 1px #DDDDDD;
    display: none;
}

div.material-table .hiddensearch input {
    margin: 0;
    border: transparent 0 !important;
    height: 48px;
    color: rgba(0, 0, 0, .84);
}

div.material-table .hiddensearch input:active {
    border: transparent 0 !important;
}

div.material-table table {
    table-layout: fixed;
}

div.material-table .table-header {
    height: 64px;
    padding-left: 24px;
    padding-right: 14px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-display: flex;
    border-bottom: solid 1px #DDDDDD;
}

div.material-table .table-header .actions {
    display: -webkit-flex;
    margin-left: auto;
}

div.material-table .table-header .btn-flat {
    min-width: 36px;
    padding: 0 8px;
}

div.material-table .table-header input {
    margin: 0;
    height: auto;
}

div.material-table .table-header i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
}

div.material-table .table-footer {
    height: 56px;
    padding-left: 24px;
    padding-right: 14px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .dataTables_length {
    display: -webkit-flex;
    display: flex;
}

div.material-table .table-footer label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row
    /* works with row or column */

flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

div.material-table .table-footer .select-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row
    /* works with row or column */

flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

div.material-table .table-footer .dataTables_info,
div.material-table .table-footer .dataTables_length {
    margin-right: 32px;
}

div.material-table .table-footer .material-pagination {
    display: flex;
    -webkit-display: flex;
    margin: 0;
}

div.material-table .table-footer .material-pagination li:first-child {
    margin-right: 24px;
}

div.material-table .table-footer .material-pagination li a {
    color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .select-wrapper input.select-dropdown {
    margin: 0;
    border-bottom: none;
    height: auto;
    line-height: normal;
    font-size: 12px;
    width: 40px;
    text-align: right;
}

div.material-table .table-footer select {
    background-color: transparent;
    width: auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: auto;
    margin-left: 20px;
}

div.material-table .table-title {
    font-size: 20px;
    color: #000;
}

div.material-table table tr td {
    padding: 0 0 0 56px;
    height: 48px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: solid 1px #DDDDDD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.material-table table tr td a {
    color: inherit;
}

div.material-table table tr td a i {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
}

div.material-table table tr {
    font-size: 12px;
}

div.material-table table th {
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    cursor: pointer;
    white-space: nowrap;
    padding: 0;
    height: 56px;
    padding-left: 56px;
    vertical-align: middle;
    outline: none !important;
}

div.material-table table th.sorting_asc,
div.material-table table th.sorting_desc {
    color: rgba(0, 0, 0, 0.87);
}

div.material-table table th.sorting:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: "arrow_back";
    -webkit-transform: rotate(90deg);
    display: none;
    vertical-align: middle;
}

div.material-table table th.sorting:hover:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
    /*display: inline-block;*/
}

div.material-table table th.sorting_desc:after {
    content: "arrow_forward";
}

div.material-table table tbody tr:hover {
    background-color: #EEE;
}

div.material-table table th:first-child,
div.material-table table td:first-child {
    padding: 0 0 0 24px;
}

div.material-table table th:last-child,
div.material-table table td:last-child {
    padding: 0 14px 0 0;
}



/****************************************************** Data Table - End **********************************************/

/****************************************************** Material Tab ***********************************************/

.tabs-vertical .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.tabs-vertical .tab {
    width: 100%;
}
.tabs-vertical .tab .active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
    border-right: 3px solid #424242;
}
.tabs-vertical .tab :hover {
    border-right: 3px solid #eeeeee;
}
.tabs-vertical .indicator {
    display: none;
}


/****************************************************** Material Tab ***********************************************/

/****************************************************** Material Select ***********************************************/

form .select-dropdown{
    overflow-y: auto !important;
}

/****************************************************** Material Select # End ***********************************************/